<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>TO-DO</th>
            <th>description</th>
            <th>When</th>
            <th>Where</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Feed the dog</td>
            <td>We need to fedd the dog</td>
            <td>today</td>
            <td>at home</td>
            <td>pending</td>
        </tr>

    </tbody>
</table>