<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>TO-DO</th>
            <th>description</th>
            <th>When</th>
            <th>Where</th>
            <th>Date</th>
            <!-- <th>Status</th> -->
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of todoList; let i=index">
            <td>{{ i + 1 }}</td>
            <td>{{ todo.todoName }}</td>
            <td>{{ todo.todoDescription }}</td>
            <td>{{ todo.todoTime }}</td>
            <td>{{ todo.todoLocation }}</td>
            <td [ngClass]="{ 'istoday' : isTodayTodo(todo) }">{{ isTodayTodo(todo) ? 'today' : todo.todoDate }}</td>
            <!-- <td>{{ todo.todoStatus }}</td> -->
            <td class="todo-group__buttons">
                <button class="btn btn-info" (click)="onEditTodo(todo)">
                    <i class="bi bi-pencil"></i>
                </button>
                <button class="btn btn-danger" (click)="onRemoveTodo(todo)">
                    <i class="bi bi-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>