.todo__header {
    margin-bottom: 30px;
    border-bottom: 1px solid #DDD;
}

.todo__lists {
    &--today {
        padding: 5px;
        margin-bottom: 20px;

        p {
            span {
                color: green;
                font-weight: 700;
                font-size: 24px;
                border-radius: 100%;
                border: 3px solid green;
                padding: 5px 10px;
            }
        }
    }

    &--all {
        padding: 5px;
       /*  border: 1px solid gray; */
    }
}

.general-buttons {
    margin-bottom: 10px;

    button {
        margin-right: 5px;
    }
}